body {
    background-color: #FBFBFF;
    font-family: 'Playfair Display', serif;
    /* font-family: Verdana, Geneva, sans-serif; */

}


svg {
    /* background-color:orange; */
}


/* HEAT MAP CSS */

text {
    color:#040F16;
}

text.heatMapText {
    /* color:#08202A; */
    text-anchor:middle;
    font-family: 'Lato', sans-serif;
}

text.heatMapTitle {
    font-size: 3vh;
    font-family: 'Playfair Display', serif;
}

text.heatMapSubtitle {
    font-size: 2vh;
}

text.heatMapYLabel {

    text-anchor:end;
    font-size: 0.7vw;
}
text.heatMapXLabel {
    text-anchor:middle;
    font-size: 0.7vw;
}

text.heatMapYAxisLabel{
    text-anchor:middle;
    font-size: 0.7vw;
}
text.heatMapXAxisLabel{
    text-anchor:middle;
    font-size: 0.7vw;
}
text.heatMapLegendText{
    font-size: 1vw;
}

/* MAP STYLES */

path.countryPath {
    fill:blue;
    stroke:orange;
    stroke-opacity:0.5;
}

/* LEGEND STYLES */

text.legendText {
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    text-anchor:end;
    color:black;
}
