body {
    background-color: #FBFBFF;
    font-family: Verdana, Geneva, sans-serif;
}


svg {
    /* background-color:orange; */
}


/* HEAT MAP CSS */

text {
    color:#040F16;
}

text.heatMapText {
    /* color:#08202A; */
    text-anchor:middle;
}

text.heatMapTitle {
    font-size: 3vh;
}

text.heatMapSubtitle {
    font-size: 2vh;
}

text.heatMapYLabel {

    text-anchor:end;
    font-size: 0.7vw;
}
text.heatMapXLabel {
    text-anchor:middle;
    font-size: 0.7vw;
}

text.heatMapYAxisLabel{
    text-anchor:middle;
    font-size: 0.7vw;
}
text.heatMapXAxisLabel{
    text-anchor:middle;
    font-size: 0.7vw;
}
text.heatMapLegendText{
    font-size: 1vw;
}
